.j_login_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.j_pass_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.j_nav_padding {
    padding: 10px 48px;
}

.j_login_img {
    width: 500px;
    height: 372px;
}

.signin-container {
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    text-align: center;
}

.j_label {
    font-size: 13px;
    display: block;
    text-align: start;
}

.j_input {
    background-color: #202F41;
    width: 100%;
    color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.j_select {
    --bs-form-select-bg-img: url(../Image/j_down_home.svg);
    background-color: #202F41;
    width: 100%;
    color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.j_input:focus {
    color: #fff;
    background-color: #202F41;
    border: none;
    outline: 0;
    box-shadow: none;
}

.j_select:focus {
    color: #fff;
    background-color: #202F41;
    border: none;
    outline: 0;
    box-shadow: none;
}

.j_input::placeholder {
    color: #BFBFBF;
    font-size: 14px;
}

.j_select::placeholder {
    color: #BFBFBF;
    font-size: 14px;
}

.j_forget_pass {
    text-align: end;
    font-size: 13px;
}

.j_forget_pass a {
    text-decoration: none;
    color: white;
}

.j_sidebar_width {
    width: 6%;
}

.j_Login_button {
    margin: 50px 0 5px 0;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

.j_Login_button:last-of-type {
    background-color: white;
}

.j_border_center_left {
    flex: 1;
    height: 1px;
    margin: 0 10px;
    background: linear-gradient(to right, #090E16, #BFBFBF);
}

.j_border_center_right {
    flex: 1;
    height: 1px;
    margin: 0 10px;
    background: linear-gradient(to right, #BFBFBF, #090E16);
}

.OR-login {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.OR-login span {
    margin: 0 10px;
}

.google_login {
    height: 18px;
    width: 18px;
}

.j_Login_social {
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 6px;
}

.j_login_p {
    color: #bfbfbf;
    font-size: 14px;
    margin-top: 20px;
}

.j_complete_padding {
    padding: 16px;
}

.j_col_pad {
    padding-left: 0;
}

.j_col_pad2 {
    padding-right: 0;
}

.j_google_social {
    margin-left: 8px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: white;
}

.j_signup_button {
    margin: 30px 0 5px 0;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

.j_Code_button {
    margin: 20px 0 0;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

.j_Code_button:last-of-type {
    background-color: white;
}

.otp-input {
    height: 40px;
    color: white;
    border-radius: 4px;
    width: 40px;
    border: none;
    background-color: #202F41CC;
}

.otp-input:focus {
    outline: none;
}

.j_nav_btn {
    transition: all 0.5s;
}

.j_Home_sidebar {
    height: 93.4vh;
    min-height: 100%;
    background-color: #121B26;
    color: white;
    border-top: 2px solid #595E63;
}

.j_Home_sidebar ul {
    list-style-type: none;
    padding: 0;
}

.j_input:-webkit-autofill,
.j_input:-webkit-autofill:hover,
.j_input:-webkit-autofill:focus,
.j_input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #202F41;
}

.j_sidebar_a img {
    margin-bottom: 5px;
    height: 28px;
    width: 28px;
}

.j_Home_sidebar .j_sidebar_a {
    /* margin-top: 20px;
    margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.j_home_connent_h4 {
    font-size: 28px;
}

.j_home_cards {
    border-radius: 4px;
    width: 230px;
    cursor: pointer;
    padding: 25px 50px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121B26;
    text-align: center;
}

.j_contant_width {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.j_modal_schedule {
    background-color: #12161C;
}

.j_Schedule_width {
    max-width: 1020px;
    margin: 0 auto;
}

.j_modal_join {
    background-color: #12161C;
    padding: 10px 20px;
}

.j_modal_header {
    margin: 0px 16px;
    border-bottom: 1px solid #525558;
}

.j_join_text {
    font-size: 14px;
}

.j_home_button {
    padding: 7px 60px;
}

.j_schedule_btn {
    background-color: #202F41;
    border: 2px solid transparent;
    padding: 10px 12px;
    margin: 10px 10px 0 0;
    color: white;
    font-size: 14px;
    border-radius: 6px;
}

.j_schedule_btn:hover {
    background-color: #202F41;
    color: white;
    border: 2px solid transparent;
}

.j_join_button {
    padding: 10px 65px;
    font-weight: 600;
}

.j_join_title {
    font-size: 20px;
}

.j_schedule_border {
    border-right: 1px solid #525558;
}

.j_schedule_selected_btn {
    border: 2px solid white;
}

.j_schedule_selected_btn:hover {
    border: 2px solid white;
}

.j_notification_bell {
    height: 63px;
    width: 85px;
    margin-bottom: 30px;
}

.j_notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.j_schedule_DnT {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.j_schedule_footer {
    justify-content: center;
}

.j_schedule_Repeat {
    display: flex;
}

.j_select_fill {
    width: 50%;
}

.j_custom_icons {
    cursor: pointer;
    position: absolute;
    display: flex;
    right: 15px;
    top: 9px;
    flex-direction: column;
}

.btn-check:checked+.j_schedule_btn,
.j_schedule_btn.active,
.j_schedule_btn.show,
.j_schedule_btn:first-child:active,
:not(.btn-check)+.j_schedule_btn:active {
    color: white;
    background-color: #202F41;
    border: 2px solid transparent;
}

.j_day_btn {
    height: 30px;
    width: 30px;
    background-color: #202F41;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 0;
    font-size: 14px;
}

.j_day_btn:hover {
    background-color: #202F41;
    color: white;
    border: none;
}

.btn-check:checked+.j_day_btn,
.j_day_btn.active,
.j_day_btn.show,
.j_day_btn:first-child:active,
:not(.btn-check)+.j_day_btn:active {
    color: white;
    background-color: #202F41;
    border: none;
}

.j_day_selected_btn {
    height: 30px;
    width: 30px;
    font-size: 14px;
    padding: 0;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    background-color: #202F41;
}

.j_day_selected_btn:hover {
    color: white;
    background-color: #202F41;
    border: 2px solid white;
    border-radius: 50%;
}

.j_custom_footer {
    justify-content: center;
    gap: 30px;
}

.j_input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.j_special_m {
    margin-top: 12px;
}

.j_custom_button {
    padding: 5px 60px;
}

.j_homenav_dropdown {
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    text-transform: uppercase;
    border: none;
    background-color: #202F41;
    color: white;
}

.j_homenav_dropdown:hover,
.j_homenav_dropdown.show,
.j_homenav_dropdown:first-child:active {
    color: white;
    background-color: #202F41;
    border: none;
}

.j_homenav_dropdown:focus-visible {
    color: white;
    background-color: #202F41;
    border: none;
    outline: 0;
    box-shadow: none;
}

.j_homenav_dropdown.show:focus-visible {
    box-shadow: none;
}

.j_drop_menu {
    transform: translate(28%, 45%) !important;
    background-color: #121b26;
}

.j_drop_menu .j_drop_item {
    color: white;
    font-size: 15px;
}

.j_drop_item:active {
    background-color: #121b26;
}

.j_drop_menu[data-bs-popper] {
    left: -75px;
}

.j_drop_menu.active,
.j_drop_menu:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #121b26;
}

.j_drop_item:focus,
.j_drop_item:hover {
    color: white;
    background-color: #060A11;
}

.j_my_profile {
    display: flex;
}

.j_my_profile {
    font-size: 15px;
}

.j_static_data ul,
.j_dynamic_data ul {
    padding: 0;
}

.j_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.j_profile_icon {
    display: flex;
    align-items: center;
}

.j_profile_short {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #202F41;
    border-radius: 50%;
    font-size: 24px;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

.j_profile_name {
    margin-left: 15px;
    font-size: 16px;
}

.j_profile_name span {
    font-size: 14px;
    color: #BFBFBF;
}

.j_profile_btn {
    color: white;
    border: 1px solid #fff;
    padding: 5px 25px;
}

.j_profile_btn:hover {
    color: white;
    border: 1px solid #fff;
    padding: 5px 25px;
}

.j_profile_btn img {
    height: 16px;
    width: 16px;
}

:not(.btn-check)+.j_profile_btn:active {
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
}

.j_logout_p {
    margin-bottom: 0;
    font-size: 18px;
}

.j_change_short {
    text-transform: uppercase;
    height: 70px;
    cursor: pointer;
    margin: 0 auto;
    width: 70px;
    background: #202F41;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

.j_cameraa {
    position: absolute;
    left: 45px;
    bottom: -5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #12161C;
}

.j_cameraa_img {
    height: 12px;
    width: 15px;
}

.j_Modal_backcolor>div>div {
    background-color: #12161C;
}

.j_canvas_backcolor {
    background-color: #12161C;
}

.j_modal_header_text {
    font-size: 18px;
}

.j_custom_footer {
    padding-top: 0px !important;
}


.j_remove_icon::after {
    display: none;
}

.j_image_Upload {
    display: flex;
    justify-content: center;
}

.j_Upload_Btn {
    margin: 2px;
    padding: 5px 20px;
}

.j_setting {
    background-color: #0A1119;
    padding: 30px;
    width: 600px;
    /* height: 100%; */
    height: auto;
    min-height: 560px;
}

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-modal-content {
    border-radius: 8px;
    width: 70%;
    max-width: 600px;
    background-color: #12161C;
    padding: 10px 20px;
}

.custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-modal-body {
    margin: 20px 0;
}

.custom-modal-footer {
    display: flex;
    justify-content: flex-end;
}

.j_margin_setting {
    margin: 15px 0;
}

.j_general_settings h5 {
    font-size: 16px;
}

.j_general_settings p {
    font-size: 14px;
    color: #BFBFBF;
}

.j_setting_check[type="checkbox"] {
    background-color: transparent;
    cursor: pointer;
}

.j_setting_check:checked[type=checkbox] {
    --bs-form-check-bg-image: url(../Image/j_check.svg);
}

.j_setting_check[type=checkbox]:checked {
    background-color: #fff;
    cursor: pointer;
    border: none;
}

.j_setting_check:focus {
    border: 1px solid #fff;
    outline: 0;
    box-shadow: none;
}

.j_home_nav_logo {
    height: 30px;
}

.j_setting_button {
    min-width: 100px;
    padding: 8px 48px;
}

.j_profile_nav_Home {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0
}

.j_day_btn:focus-visible {
    color: #fff;
    background-color: #202f41;
    border: none;
    outline: 0;
    box-shadow: none;
}

.j_day_selected_btn:focus-visible {
    color: #fff;
    background-color: #202f41;
    border: 1px solid #fff;
    outline: 0;
    box-shadow: none;
}

.j_schedule_btn:focus-visible {
    color: #fff;
    background-color: #202f41;
    border: none;
    outline: 0;
    box-shadow: none;
}

.j_schedule_selected_btn:focus-visible {
    color: #fff;
    background-color: #202f41;
    border: none;
    outline: 1px solid #fff;
    box-shadow: none;
}

.j_day_selected_btn:active {
    color: white !important;
    background-color: #202F41 !;
}

.j_margin_end {
    margin-right: 4px;
}

.j_margin_start {
    margin-left: 4px;
}


.active-emojis {
    position: fixed;
    bottom: -60px;
    left: 25%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.emoji-animation {
    animation: moveUp 10s forwards;
    font-size: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(18, 22, 28, 0.8);
    border-radius: 20px;
    padding: 10px 15px;
    margin: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.emoji {
    font-size: 24px;
    margin-right: 10px;
}

.user-name {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-700px);
        opacity: 0;
    }
}

.j_bottom_left_modal {
    position: fixed;
    width: 400px !important;
    bottom: 80px;
    left: 20px;
    background-color: #12161C;
    color: white;
    margin: 0;
    transform: none !important;
}

.j_bottom_left_modal {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.j_meeting_title {
    font-size: 20px;
}

.B_Link_input:focus-visible,
.B_password_input:focus-visible {
    outline: none !important;
}

.j_no_meeting {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.j_no_meeting_icon {
    height: 100px;
    width: 140px;
}

.j_sidebar_UL {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.j_sidebar_Gap {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

/* ====================================== start calendar ======================================== */

/* =================== month calendar start =================== */

.j_calender {
    height: 100%;
    width: 100%;
    margin-left: 50px;
}

.rbc-calendar {
    background-color: #060A11 !important;
    color: #ffffff !important;
}

.rbc-selected {
    background-color: #0056b3 !important;
}

.rbc-day-slot {
    background-color: #1a1a1a !important;
}

.rbc-month-view {
    border: none !important;
}

.rbc-header {
    align-items: center !important;
    background-color: #141E2A !important;
    color: #ffffff !important;
    display: flex !important;
    justify-content: center !important;
    padding: 10px !important;
}

.rbc-row-bg {
    right: 0px !important;
}

.rbc-header .rbc-toolbar {
    flex: 1 !important;
}

.rbc-event {
    background-color: #1B2838 !important;
    color: #ffffff !important;
    border-radius: 4px !important;
    padding: 5px !important;
}

.rbc-event:hover {
    background-color: #1B2838 !important;
}

.rbc-day-slot {
    background-color: #141E2A !important;
}

.rbc-month-view {
    border: none !important;
}

.rbc-day-bg {
    background-color: #0A1119 !important;
}

.rbc-today {
    background-color: #141E2A !important;
}

.rbc-day-bg+.rbc-day-bg {
    border: none !important;
}

.rbc-header {
    border-bottom: 1px solid #353C45 !important;
}

.rbc-header+.rbc-header {
    border-left: 1px solid #353C45 !important;
}

.rbc-month-row+.rbc-month-row {
    border-top: 1px solid #353C45 !important;
}

.rbc-toolbar {
    margin: 10px 0 !important;
}

.rbc-toolbar button:focus {
    background-color: #2C343D !important;
    color: #fff !important;
}

.rbc-toolbar .j_LR_rbc_btn {
    display: flex !important;
}

.j_rbc_toolbar {
    justify-content: space-between !important;
}

.rbc-toolbar .j_LR_rbc_btn button {
    color: #fff !important;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: none !important;
    padding: 0 !important;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap;
}

.rbc-toolbar .j_LR_rbc_btn button:hover {
    background-color: transparent !important;
}

.rbc-toolbar .j_LR_rbc_btn button:focus {
    background-color: transparent !important;
}

.rbc-toolbar .j_btn_rbc_group {
    margin-left: 0 !important;
    background-color: #121B26 !important;
    padding: 5px !important;
    border-radius: 4px !important;
}

.rbc-toolbar .j_btn_rbc_group button:hover {
    background-color: #2C343D !important;
}

.j_schedule_buttons button {
    padding: 8px 15px !important;
    color: white !important;
    border-radius: 6px !important;
    font-weight: 600 !important;
    margin-left: 10px !important;
}

.j_schedule_buttons button:hover {
    color: #000 !important;
    cursor: pointer;
    background-color: #fff !important;
    border-color: #fff !important;
}

.j_schedule_buttons button:active {
    color: #000 !important;
    box-shadow: none !important;
    cursor: pointer;
    background-color: #fff !important;
    border-color: #fff !important;
}

.j_schedule_buttons button:focus {
    color: #000 !important;
    cursor: pointer;
    background-color: #fff !important;
    border-color: #fff !important;
}

.j_btn_rbc_group button {
    outline: none !important;
}


.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
    border: none !important;
}

.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
    outline: none !important;
}

.rbc-event:focus-visible,
.rbc-day-slot .rbc-background-event:focus-visible {
    outline: none !important;
}

/* =================== month calendar end =================== */

/* =================== Week calendar start =================== */

.rbc-time-view {
    border-radius: 4px !important;
    border: 1px solid #121B26 !important;
}

.rbc-time-content {
    border-top: 1px solid #2E343A !important;
}

.rbc-time-content>*+*>* {
    border-left: 1px solid #2E343A !important;
}

.rbc-timeslot-group {
    border-bottom: 1px solid #2E343A !important;
}

.rbc-time-header-content {
    border-left: 1px solid #2E343A !important;
}

.rbc-day-slot .rbc-time-slot {
    /* border-top: 1px solid #2E343A !important; */
    border: none !important;
}

.rbc-current-time-indicator {
    background-color: white !important;
    left: 30px !important;
    right: 30px !important;
}

.rbc-current-time-indicator::before,
.rbc-current-time-indicator::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    top: -3px;
}

.rbc-current-time-indicator::before {
    left: -3px;
}

.rbc-current-time-indicator::after {
    right: -3px;
}

.rbc-time-view .rbc-time-gutter {
    text-align: center !important;
}

.j_LR_rbc_btn button:focus-visible {
    outline: none !important;
}

/* =================== Week calendar end =================== */


/* ============================================== end calendar ================================================== */

.j_notification_badge {
    top: 10px;
    right: 0;
    background-color: #f95262;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 11px;
    color: white;
    font-weight: 700;
}

.j_notification_style {
    background-color: #202F41;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.j_null_notification {
    font-size: 16px;
}

/* ============================================== Media Quary ================================================== */

@media (min-width: 1921px) {
    .j_Home_sidebar {
        height: 96vh;
        min-height: 100%;
    }
}

@media (max-width: 1440px) {
    .j_sidebar_a img {
        height: 20px;
        width: 20px;
    }

    .j_Schedule_width {
        margin: 40px auto;
    }

    .j_sidebar_a {
        font-size: 15px;
    }

    .j_Home_sidebar {
        height: 92.8vh;
    }

    .j_calender {
        margin-left: 35px;
    }

}

@media (max-width: 1024px) {
    .j_login_img {
        width: 450px;
        height: 350px;
    }

    .signin-container {
        width: 400px;
    }

    .j_nav_padding {
        padding: 10px 40px;
    }

    .j_home_connent_h4 {
        font-size: 25px;
    }

    .j_home_cards {
        width: 210px;
    }

    .j_sidebar_width {
        width: 8%;
    }

    .j_Schedule_width {
        max-width: 900px;
    }

    .j_drop_menu {
        transform: translate(20%, 45%) !important;
    }

    .j_calender {
        margin-left: 0;
        width: 96%;
    }

    .j_sidebar_Gap {
        gap: 8px;
    }
}

@media (max-width: 768px) {
    .j_home_nav_logo {
        height: 25px;
    }

    .j_login_img {
        width: 400px;
        height: 275px;
    }

    .j_sidebar_width {
        width: 10%;
    }

    .j_contant_width {
        width: 90%;
    }

    .j_Login_button {
        margin: 20px 0 5px 0;
    }

    .otp-input {
        height: 35px;
        width: 35px;
    }

    .j_text_sixze {
        font-size: 13px;
    }

    .j_home_cards {
        width: 180px;
    }

    .j_sidebar_a {
        font-size: 14px;
    }

    .j_home_connent_h4 {
        font-size: 22px;
    }

    .j_schedule_DnT {
        display: block;
    }

    .j_Schedule_width {
        max-width: 700px;
    }

    .j_home_button {
        padding: 6px 50px;
    }

    .j_Home_sidebar {
        height: 100%;
        min-height: 100vh;
    }

    .rbc-event .rbc-event-content {
        font-size: 14px;
    }

    .j_schedule_buttons button {
        padding: 8px !important;
        font-size: 14px !important;
    }
}

@media (max-width: 425px) {
    .j_drop_menu {
        transform: translate(10%, 45%) !important;
    }

    .j_col_pad {
        padding: 0;
        margin-bottom: 20px;
    }

    .j_col_pad2 {
        padding: 0;
    }

    .j_login_center {
        height: 100%
    }

    .j_col_img img {
        margin: 20px 0;
        height: 300px;
    }

    .j_nav_padding {
        padding: 10px 20px;
    }

    .j_nav_btn {
        font-size: 13px;
    }

    .j_flex_direction {
        flex-direction: column;
    }

    .j_home_connent_h4 {
        font-size: 18px;
    }

    .j_sidebar_width {
        width: 18%;
    }

    .j_contant_width {
        width: 82%;
        margin-top: 50px;
        justify-content: start;
    }

    .j_sidebar_a img {
        height: 18px;
        width: 18px;
    }

    .j_modal_join {
        width: 350px !important;
        margin: 0 auto;
        padding: 10px;
    }

    .j_join_button {
        padding: 8px 45px;
    }

    .j_join_title {
        font-size: 16px;
    }

    .j_sidebar_a {
        font-size: 12.5px;
    }

    .j_schedule_btn {
        margin: 5px 5px 0 0;
    }

    .j_modal_schedule {
        width: 400px !important;
        margin: 0 auto;
    }

    .j_home_button {
        padding: 5px 25px;
        margin: 0;
    }

    .j_schedule_footer {
        justify-content: space-between;
    }

    .j_custom_footer {
        display: flex;
        gap: 5px;
        padding-top: 0px !important;
    }

    .J_Fill_bottom {
        margin-bottom: 0px !important;
    }

    .j_custom_footer {
        flex-wrap: nowrap;
    }

    .j_custom_button {
        padding: 5px 47px;
    }

    .j_setting {
        padding: 15px;
        width: 315px;
    }

    .j_setting_button {
        min-width: 75px;
        padding: 8px 18px;
        font-size: 14px;
    }

    .j_general_settings h5 {
        font-size: 14px;
    }

    .j_general_settings p {
        font-size: 13px;
    }

    .j_homenav_dropdown,
    .j_profile_nav_Home {
        height: 35px;
        width: 35px;
    }

    .j_input,
    .j_select {
        font-size: 12px;
    }

    .rbc-event .rbc-event-content {
        font-size: 13px;
    }

    .j_btn_rbc_group {
        margin: 10px 0 !important;
    }

    .rbc-date-cell button {
        font-size: 13px;
    }

    .rbc-toolbar .j_btn_rbc_group button {
        font-size: 13px;
    }

    .rbc-label {
        font-size: 12px;
        padding: 0 3px !important;
    }

    .rbc-button-link {
        font-size: 10px;
    }

    .j_schedule_buttons button {
        padding: 8px !important;
        font-size: 13px !important;
    }

    .j_notification_style,
    .j_null_notification {
        font-size: 14px;
    }

    .j_canvas_backcolor {
        max-width: 75% !important;
    }

    .B_offcanvas {
        max-width: 80% !important;
    }

    .j_complete_padding {
        padding: 0px;
    }
}

@media (max-width: 375px) {
    .j_col_img img {
        height: 265px;
        width: 340px;
    }

    .signin-container {
        width: 350px;
    }

    .j_sidebar_width {
        width: 20%;
    }

    .j_contant_width {
        width: 80%;
    }

    .j_home_connent_h4 {
        font-size: 14px;
    }

    .j_modal_join {
        background-color: #12161C;
        padding: 0px;
        width: 300px !important;
        margin: 0 auto;
    }

    .j_join_button {
        padding: 8px 40px;
    }

    .j_modal_schedule {
        width: 350px !important;
        margin: 0 auto;
    }

    .j_home_button {
        padding: 5px 15px;
    }

    .j_custom_button {
        padding: 5px 30px;
    }

    .j_profile_name {
        margin-left: 5px;
    }

    .j_profile_btn {
        padding: 5px 8px;
    }

    .j_logout_p {
        margin-bottom: 0;
        font-size: 15px;
    }

    .j_setting {
        width: 280px;
    }

    .j_setting_button {
        min-width: 70px;
        padding: 8px 15px;
        font-size: 13px;
    }

    .j_general_settings h5 {
        font-size: 13px;
    }

    .j_general_settings p {
        font-size: 12px;
    }

    .j_toolbar_label {
        font-size: 13px;
    }

    .rbc-toolbar .j_LR_rbc_btn {
        align-items: baseline !important;
    }

    .rbc-header {
        font-size: 12px !important;
    }
}

@media (max-width: 320px) {
    .signin-container {
        padding: 10px;
    }

    .j_login_center {
        height: 100%;
    }

    .j_col_img img {
        margin: 29px 0;
        height: 225px;
        width: 300px;
    }

    .signin-container h1 {
        font-size: 20px !important;
    }

    .signin-container {
        width: 300px;
    }

    .j_nav_btn {
        font-size: 13px;
    }

    .j_home_connent_h4 {
        font-size: 12.5px;
    }

    .j_home_button {
        padding: 5px 10px;
    }

    .j_custom_button {
        padding: 5px 20px;
    }

    .j_profile_name span {
        font-size: 12px;
    }

    .j_my_profile {
        font-size: 12px;
    }

    .j_profile_name {
        font-size: 12px;
    }

    .j_profile_btn {
        margin-top: 10px;
        padding: 5px 20px;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .j_profile {
        display: block;
    }

    .j_setting {
        padding: 10px;
        width: 230px;
    }

    .j_setting_button {
        min-width: 60px;
        padding: 8px 10px;
        font-size: 12px;
    }

    .j_general_settings h5 {
        font-size: 12px;
    }

    .j_general_settings p {
        font-size: 11px;
    }

    .j_btn_rbc_group button {
        padding: 5px 15px !important;
    }
}