* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  margin: 0;
  padding: 0;
}

.B_container_new {
  width: 100%;
  margin: 0 auto;
}

.B_Main_section {
  padding: 70px 0;
}

.B_PTag_text {
  width: 85%;
  line-height: 28px;
}

.B_Button_text {
  border-radius: 5px;
  padding: 8px 14px;
  font-weight: 500;
  font-size: 17px;
  margin-top: 18px;
}

.B_Connecting_section {
  padding: 70px 0;
}

.B_Con_head_text {
  font-size: 32px;
}

.B_Features_section {
  padding: 50px 0;
}

.B_feature-card {
  background-color: #0D141E;
  padding: 40px 30px;
  border-radius: 8px;
  height: 100%;
  transition: all 0.2s;
}

.B_feature-card:hover {
  box-shadow: 3px 3px 5px #0af, -3px -3px 5px #4361ee;
}

.B_feature-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.B_box_head {
  font-size: 24px;
  margin-top: 30px;
  font-weight: 400;
}

.B_box_text {
  font-size: 15px;
  margin-top: 15px;
}

.B_Connecting_head_text {
  width: 75%;
}

.B_Connecting_text {
  width: 92%;
}

.B_Slider_section {
  padding: 70px 0;
}

.B_Slider_text1 {
  font-size: 14px;
}


.B_testimonial_text {
  font-size: 15px;
  text-indent: 10px;
  padding: 0 20px;
}

.B_Owl .owl-carousel .owl-stage {
  display: flex;
  padding: 30px 0;
}

.B_Owl .owl-carousel .owl-item {
  transition: all 0.3s ease;
}

.B_Owl .owl-carousel .owl-item .testimonial-card {
  background: #111924;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  height: 100%;
  transition: all 0.3s ease;
}

.B_Owl .owl-carousel .owl-item .testimonial-image {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin: 0 auto 15px;
  display: block;
}

.B_Owl .owl-carousel .owl-item .testimonial_name {
  border-radius: 50%;
  text-align: center;
  background-color: #202F41;
  font-size: 24px;
  padding: 8px;
  width: 56px;
  height: 56px;
  margin: 0 auto 15px;
  display: block;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background-color: #111924 !important;
}

.j_review_margin {
  margin-bottom: 48px;
}

.B_Owl .owl-carousel .owl-item.active.center {
  opacity: 1;
  transform: scale(1.1);
  z-index: 2;
}

.B_Owl .owl-carousel .owl-item.active:not(.center) {
  opacity: 0.6;
  transform: scale(0.8);
}

.star {
  font-size: 24px;
  margin: 0 4px;
}

.star.active {
  color: #FFD700;
}

.star:not(.active) {
  color: #BFBFBF;
}

.B_Owl .owl-nav button {
  background: transparent;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.B_Owl .owl-nav button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.B_Owl .owl-nav button span {
  font-size: 36px;
  position: relative;
  top: -12px;
}

.Opacity_section {
  padding: 10px 0 60px 0;
}

.Opacity_img {
  background-image: url(../src/Image/image5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 410px;
}

.B_opacity_button1 {
  padding: 10px 50px;
}

.B_opacity_button {
  padding: 10px 40px;
}

.B_Footer_section {
  padding: 10px 0px 50px 0;
}

.B_Footer_text {
  font-size: 15px;
}

.B_social_icon {
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
}

.B_social_icon img {
  height: 20px;
  width: 20px;
}

.B_social_icon:hover {
  background: linear-gradient(to bottom, #287BE0, #043B7D);
  transform: scale(1.1);
  cursor: pointer;
}

.B_social_icon:hover img {
  filter: brightness(0) invert(1);
}

.B_Here_Help {
  padding: 70px 0;
}

.B_input_search {
  width: 38%;
}

.B_input_search input {
  padding: 11px 0px;
}

.B_search-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-container input:focus {
  box-shadow: none;
  background-color: #1A2634 !important;
  border: 1px solid #287BE0;
}

.B_acc_card_section {
  padding: 0px 0 50px 0;
}

.B_box_div {
  background-color: #090E16;
  padding: 30px 50px 18px;
  border-radius: 2px;
  height: 100%;
  box-shadow: 0 0 2px 0 rgb(113 111 111 / 50%);
}

.B_card_space {
  margin: 0 -20px;
}

.B_card_space1 {
  padding: 0 30px;
  margin-bottom: 50px;
}

.B_Cardicon {
  height: 38px;
  width: 38px;
}

.B_Cardicon1 {
  height: 33px;
  width: 38px;
}

.B_Cardicon1 {
  height: 31px;
}

.B_card1_head {
  margin: 20px 0;
}

.B_card1_text {
  font-size: 15px;
}

.B_FAQ_head_text {
  margin: 20px 0 60px 0;
}

.B_FAQ_section {
  padding: 0 50px;
}

.B_FAQ_button_text {
  font-size: 18px;
}

.B_FAQ_section .accordion-button {
  background-color: #090E16;
  color: #87898B;
}

.B_FAQ_section .accordion {
  --bs-accordion-border-color: #202122;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(54, 54, 54, 0.25);
}

.B_FAQ_section .accordion-button:not(.collapsed) {
  background-color: #090E16;
  color: #87898B;
}

.B_Footer_section1 {
  padding: 70px 0 0 0;
}

.B_simple_affordable {
  padding: 70px 0;
}

.B_pricing_section {
  padding: 0 0 70px 0;
}

.B_pricing_button {
  padding: 8px 48px;
}

.B_CARD_Price {
  padding: 60px 0px;
}

.B_cardPrice_text {
  font-size: 16px;
  margin-bottom: 50px;
}

.B_Card_padding {
  padding: 30px;
  box-shadow: 0 0 2px 0 rgb(113 111 111 / 50%);
}

.B_price_text {
  margin-top: 30px;
}

.B_price_btn {
  padding: 10px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.B_price_btn:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
}

.B_true_icon {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.B_PRIC_feature {
  margin-top: 30px;
}

.B_payment_section {
  padding: 70px 0;
}

.B_billing_details {
  width: 450px;
}

.B_form_control {
  background-color: #202F41;
  border: none;
  color: white;
  padding: 11px 15px;
  /* margin-bottom: 22px; */
}

.paypal-button-row.paypal-button-layout-vertical {
  text-align: center !important;
}

.paypal-button {
  width: 75% !important;
}

.paypal-button.paypal-button-color-gold {
  background-color: red !important;
}

.B_form_control::placeholder {
  color: #979b9e;
}

.B_payment_card {
  background-color: #090E16;
  width: 550px;
  padding: 40px 50px;
  box-shadow: 0 0 2px 0 rgb(113 111 111 / 50%);
}

.B_btn_primary {
  background-color: #0070ba;
  border: none;
}

.B_payment_head_text {
  margin-bottom: 40px;
}

.B_biling_text {
  font-size: 22px;
}

.B_pay {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-weight: 500;
  margin-top: 15px;
  width: 75%;
  transition: all 0.3s ease;
}

.j_upgrade_plan {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 8px;
  padding: 10px;
  width: 50%;
  border: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.j_upgrade_plan:hover {
  background-color: transparent;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  outline: 1px solid #fff;
  font-weight: 500;
}

.B_pay_withPay {
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #fff;
  font-weight: 500;
  width: 75%;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.B_form_control:focus {
  background-color: #202F41;
  border: none;
  color: white;
  border-color: #b2b8c0;
  outline: 0;
  box-shadow: 0 0 2px 0 rgb(113 111 111 / 50%);
}

.B_form_control:-webkit-autofill,
.B_form_control:-webkit-autofill:hover,
.B_form_control:-webkit-autofill:focus,
.B_form_control:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #202F41;
}

.B_Get_In_Touch {
  padding: 70px 0 50px 0;
}

.B_contact_form {
  max-width: 1080px;
  margin: 40px auto;
  padding: 40px 52px;
  background-color: #090E16;
  box-shadow: 0 0 2px 0 rgb(113 111 111 / 50%);
}

.B_contact_form form {
  width: 100%;
}

.B_form_row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.B_form_group {
  flex: 1;
}

.B_form_group label {
  display: block;
  color: white;
  margin-bottom: 8px;
  font-size: 14px;
}

.B_form_group input,
.B_form_group textarea {
  width: 100%;
  padding: 12px;
  background-color: #202F41;
  border: none;
  border-radius: 6px;
  color: #fff;
  outline: none;
}

.B_form_group input:-webkit-autofill,
.B_form_group input:-webkit-autofill:hover,
.B_form_group input:-webkit-autofill:focus,
.B_form_group input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #202F41;

}

.B_form_group textarea {
  height: 90px;
  resize: none;
}

.B_contact_form button {
  width: 40%;
  padding: 11px 12px;
  background-color: white;
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  margin-top: 24px;
}

.B_contact_form button:hover {
  background-color: #f0f0f0;
}

.B_form_group input::placeholder,
.B_form_group textarea::placeholder {
  color: #9da2ac;
}

.B_contact_form_button {
  margin-top: 20px;
}

.B_Get_SEC_text {
  margin-bottom: 70px;
}

.B_addCARD_section {
  padding: 0px 0 80px 0;
}

.B_contact_card {
  background-color: #090E16;
  padding: 20px 30px 15px;
  border-radius: 8px;
  box-shadow: 0 0 2px 0 rgb(113 111 111 / 60%);
  height: 100%;
}

.B_contact_card .B_icon {
  margin-bottom: 20px;
}

.B_contact_card .B_icon1 img {
  width: 34px;
  height: 39px;
}

.B_contact_card .B_icon2 img {
  width: 34px;
  height: 38px;
}

.B_contact_card .B_icon3 img {
  width: 43px;
  height: 31px;
}

.B_contact_card h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ababac;
}

.B_contact_card p {
  color: #ababac;
  line-height: 1.6;
  margin-bottom: 8px;
}

.B_contact_card_row {
  --bs-gutter-x: 3.5rem;
  --bs-gutter-y: 0rem;
}

.B_footer_hover a:hover {
  color: #0f82cf !important;
}

.B_contact_card3:hover img {
  transform: scale(0.9);
  filter: brightness(0) saturate(100%) invert(46%) sepia(72%) saturate(2538%) hue-rotate(199deg) brightness(103%) contrast(101%);
  transition: transform 0.3s ease;
}

.B_Meeting_head {
  padding: 35px 50px 30px;
  border-bottom: 1px solid #30363D;
}

.B_dropdown_btn1 {
  background-color: "#080E14";
  color: white;
  border: none;
  border-radius: 8px;
  padding: 9.5px 25px;
  border: 1px solid #bbb7b7;
  --bs-btn-bg: #080E14;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #121B26;
  --bs-btn-hover-border-color: #FFF;
}

.B_dropdown_btn1.btn-check:checked+.btn,
.B_dropdown_btn1.btn.active,
.B_dropdown_btn1.btn.show,
.B_dropdown_btn1.btn:first-child:active,
.B_dropdown_btn1:not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: #121B25;
  border-color: var(--bs-btn-active-border-color);
}

.B_dropdown {
  --bs-dropdown-bg: #121B26;
  --bs-dropdown-min-width: 13rem;
  --bs-dropdown-link-hover-bg: #3a556f;
  --bs-dropdown-font-size: 14px;
  --bs-dropdown-item-padding-x: 22px;
  --bs-dropdown-item-padding-y: 7px;
}

.B_dropdown1 {
  --bs-dropdown-min-width: 13rem;
}

.B_dropdown_item {
  color: white !important;
}

.B_Meeting_search::placeholder {
  color: rgb(179, 174, 174);
}

.B_Meeting_search_icon {
  top: 6px;
  left: 10px;
  font-size: 18px;
}

.B_Meeting_search {
  border: none !important;
  padding: 10px 15px;
}

.B_Meeting_search:focus {
  box-shadow: none;
}

.B_metting_btn {
  padding: 10px 38px;
}

.B_contant_width {
  width: 94%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #121B25;
}

.B_Meeting_video_icon img {
  height: 95px;
  width: 115px;
}

.B_Meeting_txt1 {
  font-size: 17px;
  margin-bottom: 5px;
}

.B_Meeting_video_icon {
  margin-top: 15%;
}

.B_meeting_card {
  box-shadow: 0 0 2px 0 rgb(113 111 111 / 50%);
}

.B_card_title {
  font-size: 18px;
}

.B_upcoming_btn {
  --bs-btn-color: #69B2F5;
  --bs-btn-border-color: #69B2F5;
  --bs-btn-hover-bg: #469ef0;
  --bs-btn-hover-border-color: #69B2F5;
  --bs-btn-active-bg: #69B2F5;
  --bs-btn-active-border-color: #69B2F5;
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.35rem;
  --bs-btn-font-size: 13px;
  border-radius: 4px;
}

.B_upcoming_btn1 {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.35rem;
  --bs-btn-font-size: 13px;
  border-radius: 4px;
}

.B_upcoming_btn2 {
  --bs-btn-color: #c5c7c9;
  --bs-btn-border-color: #b6b8ba;
}

.B_meetingALl_details span {
  font-size: 14px;
}

.B_meetingALl_details_span {
  width: 130px;
}

.hover-bg-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.dropdown-item:active {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.B_boxEdit {
  background-color: #121B26;
  font-size: 14px;
}

.B_schedule_input {
  width: 185px !important;
}

.B_invite_people_text {
  font-size: 14px;
}

.B_meeting_title {
  font-size: 14px;
}

.B_meeting_time_text {
  font-size: 13.5px !important;
}

.B_meeting_time_text_div {
  padding: 30px 15px !important;
}

.B_meeting_time_text_span {
  font-size: 14px;
}

.B_modal_content {
  background-color: #12161C !important;
  border-radius: 8px !important;
}

.B_cancle_model_title {
  font-size: 18px !important;
}

.B_invite_people_modal {
  max-width: 500px;
}

.B_Repeat_on_btn {
  gap: 15px;
}

.B_meeting_time_text_div {
  padding-bottom: 20px !important;
}

.B_G_space {
  --bs-gutter-y: 1.5rem;
}

.B_radio_input:checked {
  background-color: #1f1d1d;
  border-color: #fcfdfe;
}

.B_meeting_note_div p {
  font-size: 16px;
}

.B_review_model .modal-content {
  background-color: #0C131C !important;
  color: #fff !important;
  width: 600px;
}

.B_review_model_header {
  justify-content: center !important;
}

.B_review_model_title {
  font-size: 17px;
  font-weight: 400 !important;
}

.B_review_model_body {
  text-align: center !important;
}

.B_yellow_star {
  color: gold;
}

.B_grey_star {
  color: lightgrey;
}

.B_review_model_text {
  margin: 30px 0;
  font-size: 18px;
}

.B_review_model_Box {
  background-color: #121B26;
  padding: 10px 15px;
  height: 75px;
  width: 150px;
}

.B_review_model_Box img {
  width: 25px;
  height: 25px;
}

.B_review_model_Box_img {
  height: 16px !important;
  width: 18px !important;
}

.B_addtional_text {
  font-size: 14px;
}

.B_hover_bttn:hover {
  background-color: white;
  color: #000000;

}

.B_hover_bttn {
  background-color: transparent;
  border: 1px solid #BFBFBF;
  color: #BFBFBF;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 170px;
  text-align: center;
}

.B_text_Area:focus-visible {
  outline: none !important;
}

.B_Gap_Button {
  gap: 20px !important;
}

.B_screen_btn:hover {
  background-color: #202F41 !important;
}

.B_screen_offcanvas::-webkit-scrollbar {
  width: 8px;
}

.B_screen_offcanvas::-webkit-scrollbar-track {
  background: #121a24;
  border-radius: 4px;
}

.B_screen_offcanvas::-webkit-scrollbar-thumb {
  background: #2a323b;
  border-radius: 4px;
}

.B_screen_offcanvas::-webkit-scrollbar-thumb:hover {
  background: #394857;
}

.B_screen_offcanvas {
  scrollbar-width: thin;
  scrollbar-color: #2a323b #121a24;
}

.B_chat_msg::-webkit-scrollbar {
  width: 8px;
}

.B_chat_msg::-webkit-scrollbar-track {
  background: #121a24;
  border-radius: 4px;
}

.B_chat_msg::-webkit-scrollbar-thumb {
  background: #2a323b;
  border-radius: 4px;
}

.B_chat_msg::-webkit-scrollbar-thumb:hover {
  background: #394857;
}

.B_chat_msg {
  scrollbar-width: thin;
  scrollbar-color: #2a323b #121a24;
}

.B_EditName {
  font-size: 18px;
}

/* MiN MEDIA QUERY START.............. */

@media (min-width: 540px) {
  .B_container_new {
    width: 540px;
    /* sm */
  }
}

@media (min-width: 720px) {
  .B_container_new {
    width: 720px;
    /* md */
  }
}

@media (min-width: 960px) {
  .B_container_new {
    width: 960px;
    /* lg */
  }
}

@media (min-width: 1140px) {
  .B_container_new {
    width: 1140px;
    /* xl */
  }
}

@media (min-width: 1520px) {
  .B_container_new {
    width: 1320px;
    /* xxl */
  }

  .B_container_new1 {
    width: 1600px;
    margin: 0 auto;
    /* xxl */
  }
}

/* MAX WIDTH QUERY START.............. */

@media (max-width: 1440px) {
  .B_PTag_text {
    width: 100%;
  }

  .B_feature-icon {
    font-size: 40px;
  }

  .B_feature-card {
    padding: 30px 20px;
  }

  .B_box_text {
    font-size: 14px;
  }

  .B_Connecting_head_text {
    width: 80%;
  }

  .B_Connecting_text {
    width: 100%;
  }

  .B_card_space1 {
    padding: 0 20px;
    margin-bottom: 40px;
  }

  .B_FAQ_body_text {
    font-size: 15px;
  }

  .B_contact_card p {
    font-size: 15px;
  }

  .B_contact_card {
    padding: 20px 16px 15px;
  }

  .B_card_title {
    font-size: 16px;
  }

  .B_upcoming_btn,
  .B_upcoming_btn1 {
    margin-right: 0px !important;
  }

  .B_upcoming_btn {
    --bs-btn-padding-x: 0.80rem;
    --bs-btn-padding-y: 0.30rem;
  }

  .B_meeting_card_section {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
  }

  .B_meeting_note_div p {
    font-size: 16px;
  }

  .B_ROOM_DETAILS {
    padding: 10px !important;
  }

  .B_ROOM_DETAILS span {
    font-size: 14px !important;
  }

  .B_ROOM_DETAILS_label {
    font-size: 14px;
  }

  .B_ROOM_DETAILS_span {
    width: 80px !important;
  }

  .d_avatar-circle {
    width: 105px;
    height: 105px;
    font-size: 32px;
  }

  .d_mainscreen {
    height: calc(100vh - 158px) !important;
  }

}

@media (max-width: 1024px) {
  .B_Connecting_head_text {
    width: 90%;
  }

  .B_Connecting_section {
    padding: 40px 0 60px 0;
  }

  .B_testimonial_text {
    font-size: 13px;
    text-indent: 7px;
    padding: 0 8px;
  }

  .B_Slider_text1 {
    margin-bottom: 5px;
  }

  .star {
    font-size: 20px;
  }

  .stars {
    margin: 5px 0px;
  }

  .B_Slider_section {
    padding: 30px 0;
  }

  .Opacity_section {
    padding: 10px 0 30px 0;
  }

  .B_Footer_section {
    padding: 10px 0px 30px 0;
  }

  .Opacity_img {
    background-position: left;
    /* height: 335px; */
    height: 250px;
  }

  .j_review_margin {
    margin-bottom: 20px;
  }

  .B_opacity_button1 {
    padding: 8px 40px;
  }

  .B_opacity_button {
    padding: 8px 30px;
  }

  .B_box_div {
    padding: 30px 28px 18px;
  }

  .B_FAQ_button_text {
    font-size: 16px;
  }

  .B_FAQ_body_text {
    font-size: 14px;
  }

  .B_Card_padding {
    padding: 20px;
  }

  .B_Ture_text {
    font-size: 15px;
  }

  .B_pricing_section {
    padding: 0 0 20px 0;
  }

  .B_payment_section {
    padding: 40px 0;
  }

  .B_payment_head_text {
    font-size: 25px;
  }

  .B_payment_card {
    width: 460px;
    padding: 34px 35px;
  }

  .B_billing_details {
    width: 400px;
  }

  .B_GetHead_text {
    font-size: 24px;
  }

  .B_GetText {
    font-size: 15px;
  }

  .B_Get_In_Touch {
    padding: 30px 0;
  }

  .B_Get_SEC_text {
    margin-bottom: 50px;
  }

  .B_contact_form {
    max-width: 960px;
    padding: 35px 40px;

  }

  .B_form_group input,
  .B_form_group textarea {
    padding: 11px;

  }

  .B_contact_card_row {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0rem;
  }

  .B_contact_card p {
    font-size: 14px;
  }

  .B_contact_card h4 {
    font-size: 22px;
  }

  .B_addCARD_section {
    padding: 0px;
  }

  .B_Meeting_head {
    padding: 28px 27px 24px;
  }

  .B_dropdown_btn1 {
    padding: 8px 12px;
  }

  .B_metting_btn {
    padding: 8px 10px;
  }

  .B_Meeting_search {
    padding-right: 20px !important;
  }

  .B_contant_width {
    width: 92%;
  }

  .B_dropdown {
    --bs-dropdown-min-width: 11rem;
  }

  .B_Meeting_video_icon {
    margin-top: 25%;
  }

  .B_Meeting_video_icon img {
    height: 81px;
  }

  .B_schedule_input {
    width: 160px !important;
  }

  .B_cancle_model {
    padding: 12px 20px !important;
  }

  .B_cancle_model_text {
    font-size: 17px !important;
  }

  .B_cancle_model_btn {
    min-width: 160px !important;
  }

  .B_dropdown_btn1 {
    font-size: 15px;
  }

  .B_simple_affordable {
    padding: 30px 0;
  }
}

@media (max-width: 768px) {
  .B_Main_section {
    padding: 50px 0;
  }

  .B_Head_text {
    font-size: 28px;
  }

  .B_PTag_text {
    line-height: 22px;
    font-size: 14px;
  }

  .B_Connecting_section {
    padding: 50px 0;
  }

  .B_Con_head_text {
    font-size: 24px;
  }

  .B_Connecting_text1,
  .B_Connecting_text2 {
    font-size: 14px;
  }

  .B_Features_section {
    padding: 30px 0;
  }

  .B_feature-card {
    padding: 20px 15px;
  }

  .B_box_text {
    font-size: 13px;
  }

  .B_Connecting_section {
    padding: 30px 0;
  }

  .B_Connecting_head_text {
    font-size: 25px;
    width: 100%;
  }

  .B_Connecting_text {
    font-size: 13px;
  }

  .B_Slider_section {
    padding: 30px 0;
  }

  .B_Slider_head_text {
    font-size: 25px;
  }

  .B_Slider_text {
    font-size: 13px;
  }

  .B_testimonial_text {
    font-size: 12px;
    text-indent: 12px;
    padding: 0 3px;
  }

  .star {
    font-size: 18px;
  }

  .B_Slider_text1 {
    font-size: 13px;
  }

  .owl-carousel .owl-item .testimonial-image {
    width: 48px;
    height: 48px;
  }

  .owl-nav button span {
    font-size: 32px;
    top: -8px;
  }

  .B_opacity_head_text {
    font-size: 25px;
  }

  .B_opacity_button1 {
    padding: 7px 30px;
    font-size: 15px;

  }

  .B_opacity_button {
    padding: 7px 21px;
    font-size: 15px;
  }

  /* .Opacity_img {
    height: 315px;
  } */

  .B_Footer_text {
    font-size: 14px;
  }

  .B_help_head_text {
    font-size: 24px;
  }

  .B_Here_Help {
    padding: 30px 0 50px 0;
  }

  .B_card1_head {
    font-size: 20px;
  }

  .B_card1_text {
    font-size: 14px;
  }

  .B_FAQ_section {
    padding: 0 10px;
  }

  .B_simple_affordable {
    padding: 30px 0;
  }

  .B_simple_affo_head_text {
    font-size: 24px;
  }

  .B_simple_affo_text {
    font-size: 14px;
  }

  .B_pricing_button {
    padding: 7px 40px;
  }

  .B_card_margin {
    margin-bottom: 40px;
  }

  .B_CARD_Price {
    padding-bottom: 21px;
  }

  .navbar-collapse {
    margin-top: 25px;
  }

  .B_payment_section {
    padding: 30px 0 50px 0;
  }

  .B_payment_head_text {
    font-size: 24px;
  }

  .B_form_responsive {
    display: flex;
    justify-content: center;
  }

  .B_billing_details {
    width: 500px;
  }

  .B_payment_card {
    width: 565px;
    margin-top: 20px;
    background-color: #060A11;
  }

  .B_payment_section {
    padding: 10px 0 50px 0;
  }

  .B_Get_In_Touch {
    padding: 25px 0;
  }

  .B_contact_form {
    max-width: 720px;
  }

  .B_contact_form {
    padding: 25px 30px;
  }

  .B_form_group input,
  .B_form_group textarea {
    padding: 9px 11px;
  }

  .B_contact_card_row {
    justify-content: center;
  }

  .B_contact_card3 {
    margin-bottom: 30px;
  }

  .B_contact_card h4 {
    font-size: 20px;
  }

  .B_contact_card .B_icon1 img {
    width: 30px;
    height: 34px;
  }

  .B_contact_card .B_icon2 img {
    width: 29px;
    height: 33px;
  }

  .B_contact_card .B_icon3 img {
    width: 36px;
    height: 26px;
  }

  .B_contant_width {
    width: 90%;
  }

  .B_dropdown_btn1 {
    font-size: 14px;
  }

  .B_dropdown_btn1 {
    padding: 8.5px 11px;
  }

  .B_metting_btn {
    font-size: 14px;
  }

  .B_Meeting_head {
    flex-direction: column;

  }

  .B_Meeting_head_flex {
    margin-bottom: 15px;
    justify-content: center;
  }

  .B_Meeting_head_flex1 {
    justify-content: center;
  }

  .B_Meeting_search {
    padding-right: 4px !important;
  }

  .B_dropdown_btn1 {
    padding: 8.5px 40px;
  }

  .B_dropdown_btn1 {
    padding: 8.5px 44px;
  }

  .B_dropdown {
    --bs-dropdown-min-width: 12rem;
  }

  .B_Meeting_video_icon {
    margin-top: 30%;
  }

  .B_schedule_DnT {
    display: flex !important;
  }

  .B_schedule_input {
    width: 130px !important;
  }

  .B_invite_people_modal {
    max-width: 450px !important;
  }

  .B_invite_people_btn {
    padding: 5px 35px !important;
  }

  .B_invite_people_btn1 {
    padding: 5px 30px !important;
  }

  .B_invite_people_body {
    padding: 15px 11px !important;
  }

  .B_meeting_note_div1 {
    margin-top: 10px !important;
  }

  .B_ROOM_DETAILS_span {
    width: 120px !important;
  }

  .B_meeting_note_div {
    padding: 30px 20px 30px 30px !important;

  }

  .B_meeting_note_div p {
    font-size: 14px;
  }

  .B_ROOM_DETAILS_btn {
    padding: 5px 25px !important;
  }

  .B_perosnalMargin {
    margin: 0px !important;
  }

  .B_top_margin {
    margin-top: 20px !important;
  }

  .B_review_model .modal-content {
    width: 530px;
  }

  .B_flex_reverse {
    flex-direction: column-reverse;
  }

  .j_schedule_border {
    border: none !important;
  }

  .B_schedule_input {
    width: 190px !important;
  }

  .B_paddingStart {
    padding-left: 0 !important;
    border-bottom: 1px solid #525558;
  }

  .B_suggestion {
    width: 95% !important;
  }

  .B_MarGin {
    margin-bottom: 35px !important;
  }

  .j_Schedule_width {
    padding-left: 0px;
  }

}

@media (max-width: 425px) {
  .B_Head_text {
    margin: 0 2px;
    font-size: 20px;
  }

  .B_PTag_text {
    margin: 0 2px;
    font-size: 14px;
    line-height: 19px;
  }

  .B_Button_text {
    font-size: 15px;
    padding: 6px 13px;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .B_Btn_center {
    text-align: center;
    margin: 10px 0;
  }

  .B_Con_head_text {
    font-size: 20px;
    margin-top: 30px;
  }

  .B_Connecting_text1,
  .B_Connecting_text2 {
    font-size: 14px;
  }

  .B_Connecting_section {
    padding: 40px 0;
  }

  .B_Features_section {
    padding: 20px 0;
  }

  .B_Feature_head_text {
    font-size: 20px;
  }

  .B_Feature_text {
    font-size: 14px;
  }

  .B_feature-card {
    text-align: center;
  }

  .B_box_head {
    font-size: 20px;
  }

  .B_feature-icon {
    font-size: 23px;
  }

  .B_Connecting_section {
    padding: 30px 0;
  }

  .B_Connecting_head_text {
    font-size: 20px;
  }

  .B_Connecting_text {
    font-size: 13px;
    margin-bottom: 40px;
  }

  .B_Slider_section {
    padding: 20px 0;
  }

  .B_Slider_head_text {
    font-size: 20px;
  }

  .owl-carousel .owl-item .testimonial-card {
    margin: 0px 30px;
  }

  .B_Slider_text {
    margin-bottom: 0;
  }

  .owl-carousel .owl-stage {
    padding: 0px 0;
  }

  .Opacity_img {
    height: 200px;
  }

  .B_opacity_head_text {
    font-size: 20px;
  }

  .B_opacity_button1 {
    padding: 7px 30px;
  }

  .B_opacity_button {
    padding: 7px 21px;
    font-size: 15px;
  }

  .B_opacity_button1 {
    padding: 5px 18px;
    font-size: 14px;

  }

  .B_opacity_button {
    padding: 6px 11px;
    font-size: 14px;
  }

  .B_Footer_container {
    display: block !important;
    text-align: center !important;
  }

  .B_footer-links {
    justify-content: center !important;
  }

  .B_footer_link1 {
    justify-content: center !important;
  }

  .B_help_head_text {
    font-size: 20px;
  }

  .B_Here_Help {
    padding: 20px 0 50px 0;
  }

  .B_card_space {
    margin: 0px 0px;
  }

  .B_card_space1 {
    margin-bottom: 25px;
  }

  .B_FAQ_button_text {
    font-size: 14px;
  }

  .B_FAQ_body_text {
    font-size: 13px;
  }

  .B_acc_card_section {
    padding: 0px 0 20px 0;
  }

  .B_Footer_section1 {
    padding: 30px 0 0 0;
  }

  .B_simple_affo_head_text {
    font-size: 20px;
  }

  .B_simple_affo_text {
    width: 70%;
    margin: 0 auto;
    font-size: 13px;
  }

  .B_pricing_button {
    padding: 6px 15px;
  }

  .B_price_text {
    font-size: 20px;
    margin-top: 20px;
  }

  .B_cardPrice_text {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .B_Ture_text {
    font-size: 14px;
  }

  .B_price_btn {
    padding: 7px;
    margin-bottom: 9px;
  }

  .B_CARD_Price {
    padding-bottom: 0px;
  }

  .B_payment_head_text {
    font-size: 20px;
  }

  .B_payment_section {
    padding: 30px 0 50px 0;
  }

  .B_billing_details {
    width: 370px;
  }

  .B_payment_card {
    width: 400px;
    padding: 20px;

  }

  .B_biling_text {
    font-size: 18px;
  }

  .B_form_control {
    padding: 7px 15px;
    margin-bottom: 18px;
  }

  .B_formStart_padding {
    padding: 0;
  }

  .B_GetHead_text {
    font-size: 20px;
  }

  .B_GetText {
    width: 70%;
    margin: 0 auto;
    font-size: 13px;
  }

  .B_Get_In_Touch {
    padding: 15px 0 40px 0;
  }


  .B_form_group input,
  .B_form_group textarea {
    padding: 7px 11px;
    font-size: 14px;
  }

  .B_form_row {
    gap: 20px !important;
  }

  .B_contact_form {
    padding: 18px 19px;
  }

  .B_contact_form {
    max-width: 390px;
  }

  .B_form_group input::placeholder {
    font-size: 14px;
  }

  .B_form_row {
    flex-direction: column;
  }

  .B_contact_form button {
    width: 48%;
    padding: 7px 14px;
  }

  .B_contant_width {
    width: 82%;
  }

  .B_dropdown_btn1 {
    padding: 7.5px 20px;
    font-size: 13px;
  }

  .B_metting_btn {
    font-size: 13px;
    text-wrap-mode: nowrap;
    padding: 7px 10px;
  }

  .B_Meeting_head {
    padding: 28px 8px 24px;
  }

  .B_Meeting_search {
    border: none !important;
    padding: 8px 15px;
  }

  .B_dropdown {
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-item-padding-x: 12px;
  }

  .B_Meeting_video_icon {
    margin-top: 60%;
  }

  .B_Meeting_txt2 {
    font-size: 14px;
  }

  .B_Meeting_head_flex {
    margin: auto;
    margin-bottom: 12px !important;
  }

  .B_schedule_DnT {
    display: block !important;
  }

  .B_schedule_input {
    width: 170px !important;
  }

  .B_schedule_btn1 {
    margin-bottom: 15px !important;
  }

  .B_cancle_model_body {
    padding: 15px 10px !important;
  }

  .B_cancle_model_btn {
    min-width: 130px !important;
    padding: 7px 10px !important;
  }

  .B_cancle_model_btn_flex {
    margin-top: 10px !important;
    gap: 20px !important;
  }

  .B_cancle_model_text {
    padding-top: 10px !important;
  }

  .B_meeting_Date_text_span {
    font-size: 13px;
  }

  .B_cancle_model_title {
    font-size: 17px !important;
  }

  .B_cancle_model_text {
    font-size: 16px !important;
  }

  .B_Repeat_on_btn {
    gap: 8px;
  }

  .B_ROOM_DETAILS span {
    font-size: 12.5px !important;
  }

  .B_ROOM_DETAILS_span {
    width: 80px !important;
  }

  .B_meeting_note_div {
    padding: 17px 12px 12px 15px !important;
  }

  .B_meeting_note_div p {
    font-size: 13.5px;
  }

  .B_ROOM_DETAILS_label {
    font-size: 12.5px;
  }

  .B_ROOM_DETAILS_btn {
    padding: 4px 15px !important;
  }

  .B_ROOM_DETAILS_btn {
    margin-top: 0px !important;
  }

  .B_Link_input {
    width: 95px !important;
  }

  .B_invite_link_Column {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .B_review_model .modal-content {
    width: 385px;
    margin: auto;
  }

  .B_review_model_title {
    font-size: 15px;
  }

  .B_gapDiv {
    gap: 20px !important;
  }

  .B_review_model_body div {
    font-size: 15px;
  }

  .B_Box_Textt {
    font-size: 12px;
    padding-top: 10px;
  }

  .B_textAreaa {
    margin-top: 30px !important;
  }

  .B_hover_bttn {
    width: 139px;
  }

  .B_lastbtn {
    width: 139px !important;
  }

  .B_schedule_input {
    width: 350px !important;
  }

  .B_suggestion {
    width: 70% !important;
  }

  .j_schedule_footer {
    justify-content: center !important;
  }

  .B_schedule_btn1 {
    margin-bottom: 0 !important;
  }

  .j_schedule_footer {
    gap: 10px;
  }

  .B_suggestion {
    width: 92% !important;
  }

  .j_home_button {
    font-size: 14.5px;
  }

  .B_TOP_setMargin {
    margin-top: 10px !important;
  }

  .B_vertical {
    margin-bottom: 7px;
    margin-left: 7px;
  }

  .d_mainsec {
    margin-right: 300px;
  }


}

@media (max-width: 375px) {

  .B_Head_text {
    margin: 0 10px;
    font-size: 18px;
  }

  .B_PTag_text {
    margin: 0 10px;
    font-size: 13px;
  }

  .B_Button_text {
    margin: 20px 0 20px 10px;
    font-size: 15px;
    padding: 5px 10px;
    font-weight: bolder;
  }

  .B_UL_text {
    font-size: 14px;
  }

  .B_Con_head_text {
    font-size: 16px;
  }

  .B_Connecting_text1,
  .B_Connecting_text2 {
    font-size: 13px;
  }

  .B_Feature_head_text {
    font-size: 16px;
  }

  .B_Feature_text {
    font-size: 13px;
  }

  .B_Features_section {
    padding: 5px 0 30px 0;
  }

  .B_Connecting_head_text {
    font-size: 18px;
  }

  .B_Connecting_text {
    font-size: 13px;
  }

  .B_Connecting_section {
    padding: 0px 0 40px 0;
  }

  .owl-carousel .owl-item .testimonial-card {
    padding: 10px 13px;
  }

  .B_footer-links {
    font-size: 15px;
  }

  .B_social_icon {
    padding: 7px;
  }

  .B_help_head_text {
    font-size: 16px;
  }

  .B_input_search input {
    padding: 7% 0px;
  }

  .B_card1_text {
    font-size: 13px;
  }

  .B_box_div {
    padding: 20px 18px 18px;
  }

  .B_FAQ_body_text {
    font-size: 12.5px;
  }

  .B_pricing_button {
    padding: 4px 12px;
  }

  .B_billing_details {
    width: 340px;
  }

  .B_payment_card {
    width: 350px;
    padding: 18px 16px;
  }

  .B_form_control {
    padding: 6px 15px;
  }

  .B_biling_text {
    font-size: 16px;
  }

  .B_contact_form {
    max-width: 350px;
  }

  .B_contact_form button {
    margin-top: 10px;
  }

  .B_contact_form button {
    width: 50%;
    padding: 6px 12px;
  }

  .B_contact_card p {
    font-size: 13px;
  }

  .B_contact_card .B_icon2 img {
    width: 27px;
    height: 29px;
  }

  .B_contact_card .B_icon3 img {
    width: 30px;
    height: 21px;
  }

  .B_contant_width {
    width: 80%;
  }

  .B_Meeting_head_flex1 {
    flex-direction: column;
  }

  .B_Meeting_search {
    padding-right: 64px !important;
  }

  .B_metting_btn {
    padding: 7px 35px;
    --bs-btn-border-color: #c0c0c0;

  }

  .B_dropdown_btn1 {
    padding: 7.5px 7px;
  }

  .B_dropdown {
    --bs-dropdown-min-width: 9rem;
  }

  .B_meeting_card_section {
    --bs-gutter-x: 0rem;
  }

  .B_card_title {
    font-size: 14px;
  }

  .B_meeting_padding {
    padding: 10px !important;
  }

  .B_meetingALl_details span {
    font-size: 13px;
  }

  .B_upcoming_btn,
  .B_upcoming_btn1 {
    --bs-btn-padding-x: 0.6rem;
    --bs-btn-padding-y: 0.20rem;
  }

  .B_schedule_input {
    width: 145px !important;
  }

  .B_cancle_model_text {
    font-size: 15px !important;
  }

  .B_cancle_model_btn {
    min-width: 110px !important;
    padding: 4px 6px !important;
  }

  .B_invite_people_text_flex {
    margin-bottom: 10px !important;
  }

  .B_Repeat_on_btn {
    gap: 6px;
  }

  .B_ROOM_DETAILS_span {
    width: 77px !important;
  }

  .B_ROOM_DETAILS span {
    font-size: 12px !important;
  }

  .B_col_form {
    padding: 0;
  }

  .B_ROOM_DETAILS_label {
    font-size: 12px;
  }

  .B_Link_input {
    width: 80px !important;
  }

  .B_review_model .modal-content {
    width: 355px;
  }

  .B_gapDiv {
    gap: 6px !important;
  }

  .B_text_Area {
    height: 75px !important;
  }

  .BB_margin_home {
    margin-top: 20px !important;
  }

  .B_schedule_input {
    width: 300px !important;
  }

  .B_suggestion {
    width: 89% !important;
  }

  .j_home_button {
    font-size: 14px;
  }

  .B_schedule_btn1 {
    padding: 5px 20px !important;
  }

  .B_EditName {
    font-size: 16px;
  }

  .B_screen_Margin {
    margin-top: 25px !important;
  }

  .B_screen_Pad {
    padding: 15px !important;
  }

  .B_participateName {
    font-size: 14px;
  }

  .B_Ofcanvasbody {
    padding: 5px;
  }

  .B_circle {
    height: 35px !important;
    width: 35px !important;
  }

  .B_screen_offcanvas {
    width: 370px !important;
  }

  .B_GetText {
    width: 80%;
  }

}

@media (max-width: 320px) {
  .B_Main_section {
    padding: 20px 0 50px 0;
  }

  .B_Head_text {
    margin: 0 5px;
    font-size: 16px;
  }

  .B_PTag_text {
    margin: 0 5px;
  }

  .B_Button_text {
    margin: 20px 0 20px 10px;
    font-size: 14px;
    padding: 4px 8px;
    font-weight: bolder;
  }

  .B_feature-card {
    padding: 15px 15px;
  }

  .B_Connecting_head_text {
    font-size: 16px;
  }

  .Opacity_img {
    height: 200px;
  }

  .B_opacity_button1 {
    font-size: 13px;

  }

  .B_opacity_button {
    font-size: 13px;
  }

  .B_Card_padding {
    padding: 15px;
  }

  .B_cardPrice_text {
    font-size: 13px;
  }

  .B_Ture_text {
    font-size: 13px;
  }

  .B_price_btn {
    padding: 6px;
    margin-bottom: 5px;
    font-size: 14.5px;
  }

  .B_billing_details {
    width: 290px;
  }

  .B_payment_card {
    width: 296px;
    padding: 18px 10px
  }

  .B_contact_form {
    max-width: 298px;
  }

  .B_contact_form {
    padding: 14px 13px;
  }

  .B_contact_form {
    margin: 22px auto;
  }

  .B_Get_SEC_text {
    margin-bottom: 40px;
  }

  .B_contact_form button {
    width: 50%;
    padding: 5px 12px;
  }

  .B_contact_card h4 {
    font-size: 20px;
  }

  .B_contact_card .B_icon1 img {
    width: 26px;
    height: 29px;
  }

  .B_contact_card h4 {
    font-size: 18px;
  }

  /* .B_Meeting_head_flex {
    flex-direction: column;
  } */

  .B_metting_btn {
    padding: 6px 23px;
  }

  .B_dropdown_btn1 {
    padding: 7.5px 15px;
  }

  .B_dropdown_btn2 {
    padding: 7.5px 15px;
  }

  .B_Meeting_head_flex {
    gap: 5px !important;
  }

  .B_dropdown {
    --bs-dropdown-min-width: 15rem;
  }

  .B_Meeting_txt2 {
    font-size: 13px;
  }

  .B_upcoming_btn,
  .B_upcoming_btn1 {
    --bs-btn-font-size: 12px;
  }

  .B_card_title {
    font-size: 11.5px;
  }

  .B_meetingALl_details_span {
    width: 108px;
  }

  .B_schedule_input {
    width: 180px !important;
  }

  .B_schedule_input {
    width: 130px !important;
  }

  .B_invite_people_text_flex span {
    font-size: 14px !important;
  }

  .B_invite_people_text_span {
    width: 78px !important;
  }

  .B_meeting_details_flex {
    flex-wrap: wrap;
  }

  .B_meeting_host_img {
    padding-right: 3px !important;
  }

  .B_ROOM_DETAILS_span {
    width: 65px !important;
  }

  .B_meeting_note_div p {
    font-size: 13px;
  }

  .B_password_input {
    width: 106px !important;
  }

  .B_Link_input {
    width: 44px !important;
  }

  .B_review_model .modal-content {
    width: 295px;
  }

  .B_gapDiv {
    flex-direction: column;
    justify-self: anchor-center;
    gap: 10px !important;
  }

  .B_review_model_Box {
    width: 210px;
  }

  .B_hover_bttn,
  .B_lastbtn {
    font-size: 12px;
    padding: 0;
  }

  .B_review_model_body div {
    font-size: 13px;
  }

  .B_schedule_input {
    width: 270px !important;
  }

  .B_schedule_btn1 {
    padding: 5px 18px !important;
  }

  .j_general_settings h5 {
    font-size: 10.5px !important;
  }

  .B_screen_offcanvas {
    width: 315px !important;
  }

  .B_simple_affo_head_text {
    font-size: 18px;
  }

  .B_simple_affo_text {
    width: 80%;
  }

  .B_GetText {
    width: 90%;
  }

}